#################################
# ROS catkin
#################################

build/
devel/


#################################
# Python
#################################

__pycache__/



#################################
# IDE
#################################

.vscode/
.idea/