#################################
# ROS catkin
#################################

/build/
/devel/
/logs/
/generated_building/
/results/


#################################
# Python
#################################

__pycache__/



#################################
# IDE
#################################

.vscode/
.idea/