<launch>
  <node pkg="a1_localization" type="localization_pose_adapter" name="localization_pose_adapter" output="screen" ns="a1_localization">
    <rosparam command="load" file="$(find a1_localization)/config/frames.yaml"/>
  </node>
  <group ns="a1_localization/fast_lio">
    <rosparam command="load" file="$(find a1_localization)/config/fast_lio_a1.yaml"/>
    <param name="feature_extract_enable" type="bool" value="false"/>
    <param name="point_filter_num" type="int" value="1"/>
    <param name="max_iteration" type="int" value="3"/>
    <param name="filter_size_surf" type="double" value="0.2"/>
    <param name="filter_size_map" type="double" value="0.3"/>
    <param name="cube_side_length" type="double" value="100.0"/>
    <param name="runtime_pos_log_enable" type="bool" value="false"/>
    <param name="publish/tf_en" type="bool" value="false"/>
    <node pkg="fast_lio" type="fastlio_mapping" name="laser_mapping" output="screen" required="true">
      <remap from="/Odometry" to="/a1_localization/fast_lio/odom_raw"/>
      <remap from="/path" to="/a1_localization/path"/>
      <remap from="/cloud_registered" to="/a1_localization/fast_lio/cloud_registered_raw"/>
      <remap from="/cloud_registered_body" to="/a1_localization/cloud_registered_body"/>
      <remap from="/cloud_effected" to="/a1_localization/cloud_effected"/>
      <remap from="/Laser_map" to="/a1_localization/fast_lio/map_raw"/>
    </node>
  </group>
</launch>
